node_modules
.next
.git
.gitignore
README.md
.env
.env.local
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem
.vscode
.idea
coverage
.nyc_output
*.log
public/uploads
dist
build
.cache
docker-compose.yml
docker-compose.prod.yml
Dockerfile
.dockerignore
